body {
  background: linear-gradient(
    67.6deg,
    rgb(225, 242, 254) -2.8%,
    rgb(193, 224, 250) 44.6%,
    rgb(19, 116, 197) 102.4%
  );
  font-family: "Roboto", sans-serif;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
  color: #2f2e41;
}

a {
  color: rgb(19, 116, 197);
}

main {
  padding: 30px 0;
}

hr {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  color: #2f2e41;
}

.top-image {
  max-width: 150px;
  margin-left: 375px;
}

.bottom-image {
  max-width: 150px;
  margin: 10px 10px 10px 900px;
}

.weather-app {
  background: rgb(225, 242, 254);
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
  color: #2f2e41;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  line-height: 24px;
  color: #2f2e41;
  font-weight: 500;
}

.weather-app-details strong {
  color: #ff6884;
}

.search-form-input {
  background-color: whitesmoke;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-button {
  background: rgb(19, 116, 197);
  border: none;
  padding: 15px 20px;
  border-radius: 6px;
  color: #e6e6e6;
  margin-left: 5px;
  font-size: 16px;
}

.weather-app-temp-container {
  display: flex;
}

.weather-app-temp-degree {
  font-size: 88px;
  font-weight: bold;
  line-height: 88px;
}

.weather-app-temp-unit {
  margin-top: 16px;
  font-size: 28px;
}

.weather-forecast {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.weather-forecast-date {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.6);
  opacity: 0.6;
  text-align: center;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-temperatures {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: #f65282;
}

.weather-forecast-temp {
  font-size: 14px;
  color: black;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.weather-forecast-icon {
  width: 50px;
  display: block;
  margin: 0 auto;
}

.weather-app-temp-emoji {
  width: 88px;
  margin-left: 10px;
}
